<title>StudyHack</title>
<style>
    body{
        background: rgb(34, 40, 49);
    }
    #as-button-blue{
        background: rgb(0, 173, 181);
        border-color: rgb(0, 173, 181);
    }
    #as-button-blue:hover {
        background: rgb(58, 130, 133);
        border-color: rgb(58, 130, 133);
    }
    #main-card{
        box-shadow: 0.5vw 0.5vw 3px lightgray;
    }
</style>
<div class="mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center" id="main-card">
            <h1><i class="fa-solid fa-graduation-cap"></i></h1>
            <p class="lead">Welcome to StudyHack</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2" id="as-button-blue">Register</a>
            <a href="/users/login" class="btn btn-danger btn-block">Login</a>
        </div>
    </div>
</div>